.avatar-circle .avatar-image{
  border-radius: 50%;
  text-align: center;
}

.profile-header{
  background: #27272B url("img/backgroundimage.png") center center repeat !important;
  background-size: cover;
  text-align: center;
  padding: 24px;
}
