body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333333;
background-color: #ffffff;
}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #fff;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well1 {
padding: 5px;
min-height: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color: #fff;
border: 1px #EFF0F0;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*side bar css*/
.header {
    background-color: #1D5D9D;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /*opacity: 0.9;*/
    color: #ffffff;
}



.left_nav {
    margin-top: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    bottom: 0;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #d3d1d1;
    color: #39dbac;
}
.page-header1 {
    padding-bottom: 9px;
   margin-bottom: 20px;
    margin-top: 20px;
    color: #39dbac;
}

.cursor {
    cursor: pointer;
}

.top {
    margin-top: 5px;
}

.content-right {
    top: 50px;
    bottom: 0;
    width: auto;
}

.content-event {
    margin-top: 100px;
    left: 17%;
    bottom: 0;
    width: 75%;
}

.textbold {
    font-weight: bold;
    width:100px;
}
.textbold1 {
    font-weight: bold;
}
.divwidth {
    width: 50px;
}

.tableview {
    padding-left:10px;
    word-wrap:break;
}
.tablemargin {
    top: 50px;
}

.navbar-inverse {
background-color: #1D5D9D;
border-color: #1D5D9D;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #ffffff;
    text-decoration: underline;
    background-color:#1D5D9D;

}

.navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
 background-color: none;
}
.navbar-inverse .navbar-toggle {
border: none;
}
.backcolor{
    text-decoration-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}

.location{
   font-size: .8em;
text-transform: uppercase;
color: #888;
margin-bottom: 5px;
display: block;
padding: 5px 10px 0;
font-weight: bold;
}

.location1{

color: #4a46b0;
display: block;
font-weight: bold;
}


.item-title {
font-weight: 800;
font-size: 1.2em;
word-break: break-word;
word-wrap: break-word;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
}
.info-panel {
    margin-left: 60px;
    height: 30px;
}

/*.person-job-title {
font-size: .8em;
margin: 5px 0 0 5px;
font-weight: 400;
color: #888;
word-break: break-word;
word-wrap: break-word;
white-space: nowrap;
overflow: hidden;
}*/
.wrapper1 {
  border: 1px solid #d3d1d1;
  padding: 20px;
  border-radius: 4px;

}


.back {
    width: 20px;
    height: 20px;
    background-image: url(../images/plus-4.png);

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

::-webkit-input-placeholder {
   text-align: center;
}

.headertext
{
    color:#3DA1E4;font-weight:600;
    padding: 13px;
}
.headerstyle{
    width:100%;background-color:#F9F8F8;margin-bottom:0px;border-radius: 0px;
}


.btn-color {
  margin-left: 10px;
  background-color: #fff;
  color: #4d8bda;
  font-weight: 600;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #F9F9F9;
}

.bttn {
    padding: 0px 0px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
}
.bttn:focus, .bttn:active:focus, .bttn.active:focus {
    outline: 0 none;
}


.bttn.outline {
    background: none;
    padding: 10px 20px;
}
.bttn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.bttn-primary.outline:hover, .bttn-primary.outline:focus, .bttn-primary.outline:active, .bttn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.bttn-primary.outline:active, .bttn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

::-webkit-input-placeholder {
   color: white;
   text-align:left;
   padding-left: 10px;
}
.outer {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  height: 370px;

  /* More properties for a fixed height ... */
}

.inner {
  height: calc(100% + 1px);
}

.carousel-control
{
  opacity: 0.1 !important;
}
