.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-container > .row {
  flex: 1;
}

p.wrap {
  white-space: normal;
}
.grid-align{
  text-align: center;
  display:inline-block;
  position:relative;
}

.profile-header{
  background: #27272B url("img/backgroundimage.png") center center repeat !important;
  background-size: cover;
  text-align: center;
  padding: 24px;
}
