/* @todo: 
1. vertical align center not working
2. hiding nav bar not working*/

.eventcode input[type="text"]{
	border:0px;
}

.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}